<html>

<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <script src="/static/js/chart.min.js"></script>
    <title>Ekarta gorączkowa</title>
    <style>
    body {font-size:20px!important}
    </style>
</head>

<body>

    <nav>
        <a href="/logout">Logout</a>
    </nav>

        <div>
            {% block content %}{% endblock %}
        </div>
</body>
</html>
