<html>

<head>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <title>{{card.patient.name}} {{card.patient.surname}}</title>
</head>

<body>
<h3>Patient's Card: {{card.patient.name}} {{card.patient.surname}}</h3>
<p>PESEL: {{card.patient.pesel}}
<p>Registration date: {{card.created_date}}</p>
<p>Description: {{card.description}}</p>

<h3>Measurements:</h3>
{% for m in measurements %}
<div>
  <p>Value: {{m.value}}</p>
  <p>Doctor: {{m.doctor}}</p>
  <p>Nurse: {{m.nurse}}</p>
  <p>Measurement date: {{m.created_date}}</p>

</div>

<hr>
{%endfor%}

<h4>Dodaj pomiar:</h4>
<form action="/measurement/add/" method="post">
{% csrf_token %}
<input type="text" required name="value" placeholder="Pomiar">
<input type="text" required name="card_id" style="display: none;" value="{{card.id}}">

Doctor: 
<select name="doctor_id">
  {% for lekarz in lekarze %}
  <option value="-1">None</option>
  <option value="{{lekarz.id}}">{{lekarz}}</option>
  {%endfor%}
</select>

Nurse: 
<select name="nurse_id">
  {% for pielegniarka in pielegniarki %}
  <option value="-1">None</option>
  <option value="{{pielegniarka.id}}">{{pielegniarka}}</option>
  {%endfor%}
</select>

<input type="submit" value="Dodaj">
</form>
</body>

</html>
