<html>

<head>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <title>Ekarta gorączkowa</title>
</head>

<body>
{% for karta in ekarty %}
<div>

  <p>Pacjent: <a href="/patient/{{karta.id}}/" target="_blank"> {{karta.patient}} </a></p>
  <p>Lekarz prowadzący: {{karta.doctor}}</p>
  <p>Data rejestracji: {{karta.created_date}}</p>
  <p>Description: {{karta.description}}</p>

</div>

<hr>

{%endfor%}
<h4>Dodaj pacjenta:</h4>
<form action="/patient/add/" method="post">
{% csrf_token %}
<input type="text" required name="name" placeholder="Imię">
<input type="text" required name="surname" placeholder="Nazwisko">
<input type="text" required name="PESEL" placeholder="PESEL">
<textarea required name="desc" placeholder="Opis"></textarea>
<select name="doctor_id" required>

{% for lekarz in lekarze %}
<option value="{{lekarz.id}}">{{lekarz}}</option>
{%endfor%}
</select>
<input type="submit" value="Dodaj">

</form>

</body>

</html>
